@import "styles/mixin";

.grid_images_container {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.grid_images {
  width: 100%;
  img {
    transition: transform .3s;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
      border-radius: 5px;
      transition: transform .3s;
      transform: scale(1.1);
    }
  }
}
