@import "styles/mixin";

.cart_grid_container {
  width: 100%;
  background-color: var(--gray-fondo);
  padding-top: 3rem;
  padding-bottom: 3rem;
  min-height: calc(100vh - var(--headerHeight));
}

.cart_grid {
  background-color: var(--gray-fondo);
}