*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.main-app {
  width: 100%;
  min-height: calc(100vh);
  display: flex;
  flex-direction: column;
  .page-body {
    flex: 1;
  }
}

img {
  // TODO : aspect-ratio
  aspect-ratio: attr(width) / attr(height);
  max-width: 100%;
  height: auto;
}

ul {
  margin-top: 0;
  li {
    list-style: none;
  }
}


.cursor_p {
  cursor: pointer;
}

.text-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.text-ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3; 
  -webkit-box-orient: vertical;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  // font-family: "Poppins", sans-serif;
  margin: 0;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

// Clases generales
.max-width {
  @include maxWidth;
}

// Fuentes
.font-80 {
  @include font-80;
}

.font-36 {
  @include font-36;
}

.font-22 {
  @include font-22;
}
.font-18 {
  @include font-18;
}

.font-16 {
  @include font-16;
}

.font-14 {
  @include font-14;
}

.font-12 {
  @include font-12;
}

// Colores fuentes

.c-blue {
  color: var(--blue);
}

.c-red {
  color: var(--red);
}

.c-gray {
  color: var(--gray);
}

.c-white {
  color: var(--white);
}

.c-text {
  color: var(--text);
}

.c-black {
  color: var(--black);
}

.c-bold {
  color: var(--bold);
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 30px;
  height: 50px;
  border-radius: 4px;
  outline: 0;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: var(--white);
  &[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }
  &.primary {
    min-width: 150px;
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
    border: none;
    &.block {
      width: 100%;
    }
    &:hover {
      background-color: darken($blue, 3);
    }
    &.outline {
      color: var(--greenSecondary);
      background-color: transparent;
      border: 2px solid var(--greenSecondary);
      &:hover {
        background-color: var(--greenSecondary);
        border: 2px solid var(--greenSecondary);
        color: var(--white);
      }
    }
  }
}
  

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  &.swiper-slide-thumb-active {
    border-bottom: 4px solid var(--gray-fondo) !important;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
